body {
  font-family: Nimbus Sans L, Arial, Helvetica;
}

#cwp_div {
  border-bottom: solid thin #bbbbbb;
}

#cwp_div form {
  border-top: solid thin #bbbbbb;
  padding: 10px 20px 10px 20px;
}
#cwp_div form:nth-of-type(odd) {
  background-color: #EDEDED;
}
#cwp_div form:nth-of-type(even) {
  background-color: #F2F2F2;
}

.cwp_success {
  padding: 5px 0px 5px 0px;
  margin-bottom: 0px;
  border-top: solid thin #bbbbbb;
  background-color: #96FF8E;
  text-align: center;
}

.cwp_error {
  padding: 5px 0px 5px 0px;
  margin-bottom: 0px;
  border-top: solid thin #bbbbbb;
  background-color: #FC3737;
  text-align: center;
}

.cwp_display-name {
  font-weight: bold;
  font-size: large;
}

.cwp_display-name a {
  text-decoration: none;
  color: #000099;
}
.cwp_display-name a:hover {
  text-decoration: underline;
}

.cwp_location {
  font-size: large;
  font-style: italic;
}

.cwp_status {
  font-style: italic;
}

.cwp_debug {
  font-size: small;
  font-family: FreeMono, Courier New;
  color: green;
}
